# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# MacOS junk
.DS_Store

# VS Code
.vscode/

# Render/Deployment
render.yaml

# Other
*.sqlite3

.DS_Store
